In [1]:
import numpy as np
import pandas as pd

In [5]:
Monday=pd.read_csv('../../CIC-IDS-2017/TrafficLabelling/Monday-WorkingHours.pcap_ISCX.csv',delimiter=',')

In [4]:
Friday_DDoS=pd.read_csv('../../CIC-IDS-2017/TrafficLabelling/Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv',delimiter=',')

In [6]:
Monday.columns

Index(['Flow ID', ' Source IP', ' Source Port', ' Destination IP',
       ' Destination Port', ' Protocol', ' Timestamp', ' Flow Duration',
       ' Total Fwd Packets', ' Total Backward Packets',
       'Total Length of Fwd Packets', ' Total Length of Bwd Packets',
       ' Fwd Packet Length Max', ' Fwd Packet Length Min',
       ' Fwd Packet Length Mean', ' Fwd Packet Length Std',
       'Bwd Packet Length Max', ' Bwd Packet Length Min',
       ' Bwd Packet Length Mean', ' Bwd Packet Length Std', 'Flow Bytes/s',
       ' Flow Packets/s', ' Flow IAT Mean', ' Flow IAT Std', ' Flow IAT Max',
       ' Flow IAT Min', 'Fwd IAT Total', ' Fwd IAT Mean', ' Fwd IAT Std',
       ' Fwd IAT Max', ' Fwd IAT Min', 'Bwd IAT Total', ' Bwd IAT Mean',
       ' Bwd IAT Std', ' Bwd IAT Max', ' Bwd IAT Min', 'Fwd PSH Flags',
       ' Bwd PSH Flags', ' Fwd URG Flags', ' Bwd URG Flags',
       ' Fwd Header Length', ' Bwd Header Length', 'Fwd Packets/s',
       ' Bwd Packets/s', ' Min Packet Length', ' Max Packet Length',
       ' Packet Length Mean', ' Packet Length Std', ' Packet Length Variance',
       'FIN Flag Count', ' SYN Flag Count', ' RST Flag Count',
       ' PSH Flag Count', ' ACK Flag Count', ' URG Flag Count',
       ' CWE Flag Count', ' ECE Flag Count', ' Down/Up Ratio',
       ' Average Packet Size', ' Avg Fwd Segment Size',
       ' Avg Bwd Segment Size', ' Fwd Header Length.1', 'Fwd Avg Bytes/Bulk',
       ' Fwd Avg Packets/Bulk', ' Fwd Avg Bulk Rate', ' Bwd Avg Bytes/Bulk',
       ' Bwd Avg Packets/Bulk', 'Bwd Avg Bulk Rate', 'Subflow Fwd Packets',
       ' Subflow Fwd Bytes', ' Subflow Bwd Packets', ' Subflow Bwd Bytes',
       'Init_Win_bytes_forward', ' Init_Win_bytes_backward',
       ' act_data_pkt_fwd', ' min_seg_size_forward', 'Active Mean',
       ' Active Std', ' Active Max', ' Active Min', 'Idle Mean', ' Idle Std',
       ' Idle Max', ' Idle Min', ' Label'],
      dtype='object')

In [14]:
timestamps=Friday_DDoS.loc[:,Friday_DDoS.columns[6]]

In [15]:
timestamps

0         7/7/2017 3:30
1         7/7/2017 3:30
2         7/7/2017 3:30
3         7/7/2017 3:30
4         7/7/2017 3:30
              ...
225740    7/7/2017 5:02
225741    7/7/2017 5:02
225742    7/7/2017 5:02
225743    7/7/2017 5:02
225744    7/7/2017 5:02
Name:  Timestamp, Length: 225745, dtype: object

In [16]:
flow_durations=Friday_DDoS.loc[:,Friday_DDoS.columns[7]]

In [17]:
flow_durations

0           3
1         109
2          52
3          34
4           3
         ...
225740     61
225741     72
225742     75
225743     48
225744     68
Name:  Flow Duration, Length: 225745, dtype: int64

In [42]:
labels=A.loc[np.where(labels_np=='DDoS')[0],[A.columns[84]]]

In [43]:
labels

        Label
18883    DDoS
18884    DDoS
18885    DDoS
18886    DDoS
18887    DDoS
...       ...
197538   DDoS
197539   DDoS
197540   DDoS
197541   DDoS
197542   DDoS

[128027 rows x 1 columns]

In [45]:
source_ports=A.loc[:,[A.columns[1]]]

In [66]:
source_ports.loc[np.where(labels_np=='DDoS')[0]][' Source IP'].unique()

array(['172.16.0.1', '192.168.10.50'], dtype=object)

In [49]:
source_ports.loc[np.where(labels_np=='BENIGN')[0]]

             Source IP
0       104.16.207.165
1        104.16.28.216
2        104.16.28.216
3        104.17.241.25
4       104.19.196.102
...                ...
225740     72.21.91.29
225741     72.21.91.29
225742     72.21.91.29
225743    8.41.222.187
225744      8.43.72.21

[97718 rows x 1 columns]

In [50]:
dest_ports=A.loc[:,[A.columns[3]]]

In [61]:
len(dest_ports[' Destination IP'].unique())

2554

In [52]:
dest_ports.loc[np.where(labels_np=='BENIGN')[0]]

        Destination IP
0         192.168.10.5
1         192.168.10.5
2         192.168.10.5
3        192.168.10.16
4         192.168.10.5
...                ...
225740   192.168.10.15
225741   192.168.10.15
225742   192.168.10.15
225743   192.168.10.15
225744   192.168.10.15

[97718 rows x 1 columns]

In [64]:
dest_ports.loc[np.where(labels_np=='DDoS')[0]][' Destination IP'].unique()

array(['192.168.10.50', '172.16.0.1'], dtype=object)